<nav>
  <p><a href="/">VERDANT MERCHANTS</a></p>
  <div class="nav-links">
      <a href="/">Home</a>
      <a href="/items/all">Shop</a>
      <a href="/">Post</a>
  </div>
  <form action="/users/1" method="GET"><button class="nav-user">USER 1</button></form>
</nav>

