<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- GOOGLE FONTS: Karla, Open Sans, Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_header %>

    <!-- SITE INTRO -->
    <div class="hero-container">
      <div class="hero-content">

        <i class="fas fa-spa"></i>

        <h1>Site Title</h1>
      </div>
    </div>

    <div class="wrapper">
    <!-- FEATURED ITEMS SECTION -->

      <section class="feature-container">
        <div class="featured-items"><img src="https://images.pexels.com/photos/1207978/pexels-photo-1207978.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""><button><a href="">BUTTON</a></button></div>
        <div class="featured-items"><img src="" alt=""><button><a href="">BUTTON</a></button></div>
        <div class="featured-items"><img src="" alt=""><button><a href="">BUTTON</a></button></div>
        <div class="featured-items"><img src="" alt=""><button><a href="">BUTTON</a></button></div>
      </section>
      <section class="feature-container">
        <div class="feature-text">
          <span></span>
          <p></p>
        </div>
        <img src="" alt="">
      </section>



    <!-- ABOUT US SECTION -->




    </div>

  </body>
</html>
