<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- GOOGLE FONTS: Karla, Open Sans, Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_header %>

    <!-- SITE INTRO -->
    <div class="hero-container">
      <div class="hero-content">

        <i class="fas fa-spa"></i>

        <h1>VERDANT MERCHANTS</h1>
        <p>BUY & SELL QUALITY SUCCULENTS</p>
      </div>
    </div>

    <div class="wrapper">
    <!-- FEATURED ITEMS SECTION -->
    <h2>Featured Items</h2>

      <section class="feature-container">

        <div class="featured-items"><img src="docs/wendy-aros-routman-RbUTftyVPtQ-unsplash.jpg" width="200" height="275" alt="succulent"><button><a href="">BUTTON</a></button></div>
        <div class="featured-items"><img src="docs/kari-shea-3_cyj5YkhTs-unsplash.jpg" alt=""><button><a href="">BUTTON</a></button></div>
        <div class="featured-items"><img src="https://unsplash.com/photos/T0inbt7nRME" alt=""><button><a href="">BUTTON</a></button></div>
        <div class="featured-items"><img src="https://unsplash.com/photos/f7PfM2NklZ4" alt=""><button><a href="">BUTTON</a></button></div>
      </section>
      <section class="feature-container">
        <div class="feature-text">
          <span></span>
          <p></p>
        </div>
        <img src="" alt="">
      </section>



    <!-- ABOUT US SECTION -->
    <h2>About Us</h2>
      <section class="about-container">



      </section>


    </div>

  </body>
</html>
