<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/messages.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>

  <title>Messages</title>
</head>

<body>
  <section id="msgHistory">
    <% for (let i = 0; i < message.length; i++) { %>
      <p><%= message[i].sender_id %></p>
      <p><%= message[i].message_text %></p>
      <hr class="line">
      <p><%= message[i].date_time %></p>
    <% } %>
  </section>

  <section id="sentMessages">
      <!-- functions in messages.js -->
  </section>

    <form id="chatbox">
        <textarea id="textbox" placeholder="Send a message"></textarea>
      <button id="sendtext">SUBMIT</button>
  </form>
</body>
</html>
