<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- GOOGLE FONTS: Karla, Open Sans, Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_header %>
    <div class="form-wrapper">

      <div class="posting-container">

      <section class="posting-form-img">
        <div class="form-img-container">Image</div>
      </section>

      <section class="posting-form-content">
        <form class="posting-input-field" action="/posting/new_post" method="POST" id="form1">
          Image URL: <input class="textarea" type="text" name="img">
          Product Name: <input class="textarea" type="text" name="name">
          Price: <input class="textarea" type="text" name="price">
          Description: <textarea class="textarea description" type="text" name="desc"></textarea>
          Type: <input class="textarea" type="text" name="type">
          Quantity: <input class="textarea" type="text" name="qty">
          Seller ID: <input class="textarea" type="text" name="user_id">
          <button type="submit">Post Product</button>
        </form>

      </section>

      </div>

    </div>

  </body>
</html>
