
// ---------- VARIABLES ---------- //

// fonts //
$regular-font: 'Open Sans', sans-serif;
$title-font: 'Oswald', sans-serif;

// colors //
$regular-text-color: #6b717f;
$secondary-color: #496742;
$accent-color: #BC8896;
$extra-color: #73607B;
$link-color: #95a986;
$bg-color: #EEE;

// spacing //
$wrapper-margin: 0 auto;
$minimum-margin: 50px;
$minimum-padding: 20px;
$min-margin-top: 20px;

// transition //
$fade-in: 0.3s ease-in-out;

// -------------------------------- //

nav {

  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  background-color: #FFF;
  z-index: 1;

  p.title {
    font-family: $title-font;
    color: $secondary-color;
    transition: $fade-in;
  }


  .title a {
    transition: $fade-in;
  }

  .title a:hover {
    color: $secondary-color;
    transition: $fade-in;
  }

  div.nav-links {
    display: flex;
    justify-content: space-evenly;
    padding-right: 4rem;
    padding-top: 1rem;
    font-family: $regular-font;

      a {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        transition: $fade-in;
      }

      a:hover {
        color: $secondary-color;
        transition: $fade-in;
      }

      a.nav-link {
        position: relative;
        transition: $fade-in;
      }

      a.nav-link:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        right: 0;
        background-color: $secondary-color;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }

      a.nav-link:hover:before {
        visibility: visible;
        width: 100%;
      }


  }

  form {
   display: flex;
   flex-direction: column;
   justify-content: center;
  }

  .nav-user {
    font-family: $title-font;
    color: $secondary-color;
    transition: $fade-in;
    height: 40px;
    padding: 0 20px;

  }

  .nav-user:hover {
    color: #FFF;
    transition: $fade-in;
  }
}
