nav {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  div.nav-links {
    display: flex;
    justify-content: space-evenly;
    padding-right: 4rem;
    padding-top: 1rem;
    font-family: $regular-font;

      a {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        transition: 0.3s ease-in-out;
      }

      a:hover {
        color: #496742;
        transition: 0.3s ease-in-out;
      }

      a.nav-link {
        position: relative;
        transition: 0.3s ease-in-out;
      }

      a.nav-link:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        right: 0;
        background-color: #496742;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }

      a.nav-link:hover:before {
        visibility: visible;
        width: 100%;
      }


  }

  .nav-user {
    font-family: $title-font;
  }
}
