// ITEMS / PRODUCTS PAGE //

// ---------- VARIABLES ---------- //

// fonts //
$regular-font: 'Open Sans', sans-serif;
$title-font: 'Oswald', sans-serif;

// colors //
$regular-text-color: #6b717f;
$secondary-color: #496742;
$accent-color: #BC8896;
$link-color: #95a986;
$bg-color: #EEE;

// spacing //
$wrapper-margin: 0 auto;
$minimum-margin: 50px;
$minimum-padding: 20px;
$min-margin-top: 20px;

// transition //
$fade-in: 0.3s ease-in-out;

// -------------------------------- //

.items-wrapper {

  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;

  .filter-container {
    display: flex;
    justify-content: center;
    margin-left: 40px;

    #first {
      border-left: 1px solid;
      font-family: $title-font;
      color: $accent-color;
    }
    .filter-btn {
      border: none;
      border-right: 1px solid;
      padding: 0 40px;
      margin-top: 40px;
      font-family: $title-font;
      color: $accent-color;

    }

  }

  .items_container {

    display: grid;
    grid-template-columns: repeat(auto-fit, 440px);
    justify-content: space-between;
    margin: $minimum-margin;

    .featured-items {

      display: flex;
      flex-direction: column;
      padding: $minimum-padding;

      img {
        object-fit: cover;
        width: 400px;
        height: 400px;
      }

      .sold-out {
        font-family: $title-font;
        text-align: center;
        color: $accent-color;
      }

      form {
        text-align: center;
        button {
          margin-top: $min-margin-top;
          border: none;
          background-color: $link-color;
          color: $bg-color;
          height: 40px;
          width: 200px;
          transition: $fade-in;
        }

        button:hover {
          background-color: $secondary-color;
          color: #FFF;
          transition: $fade-in;
        }

      }

      span {
        margin-top: $min-margin-top;
        text-align: center;
        color: #6b717f;
      }

    }
  }


}
