// See: https://sass-lang.com/ //

// ---------- VARIABLES ---------- //

// fonts //
$regular-font: 'Open Sans', sans-serif;
$title-font: 'Oswald', sans-serif;

// colors //
$regular-text-color: #6b717f;
$secondary-color: #496742;
$link-color: #95a986;
$bg-color: #EEE;

// spacing //
$wrapper-margin: 0 auto;
$minimum-margin: 50px;
$minimum-padding: 20px;
$min-margin-top: 20px;

// transition //
$fade-in: 0.3s ease-in-out;

// -------------------------------- //

body {
  font-family: $regular-font;
  background-color: $bg-color;
  color: $regular-text-color;


//   // PAGES ANIMATION //

//   animation: fadeInAnimation ease 0.3s;
//   animation-iteration-count: 1;
//   animation-fill-mode: forwards;

// @keyframes fadeInAnimation {
//   0% {
//       opacity: 0;
//   }
//   100% {
//       opacity: 1;
//    }
// }

  h1 {
    font-family: $title-font;

    color: #244751;

  }

  a {
    color: $link-color;
    text-decoration: none;
  }

}

// HEADER //
@import 'header';

// INDEX / HOME PAGE -------------------------------------------------------//
div.hero-container {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: #496742;

  .hero-content {

    display: flex;
    justify-content: center;
    flex-direction: column;


    .fas {
      text-align: center;
      color: #FFF;
    }

    h1 {
      margin-bottom: 0;
      letter-spacing: 10px;
      font-family: $title-font;
      font-size: 60px;
      color: #FFF;
    }

    p {
      text-align: center;
      font-family: $regular-font;
      color: #FFF;
    }

  }

}

div.wrapper {

  max-width: 100%;
  margin: $wrapper-margin;
  padding: 0 40px;


    h2 {
      font-family: $title-font;
      font-size: 24px;
      text-align: center;
    }

  // featured Items section
  section.feature-container {
    display: flex;
    justify-content: space-between;

    .feature-item-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .featured-items {
      position: relative;
      width: 260px;
      display: flex;
      flex-direction: column;

        img {
          object-fit: fill;
          width: 260px;
        }

      }

      .feature-btn-form {
        width: 100%;

        button {
          background-color: $secondary-color;
          margin: 16px 0;
          width: 100%;
          height: 52px;
          border-radius: 4px;
          border: none;
        }
        button:hover {
          background-color: $regular-text-color;
        }
      }
    }

  }

  // About Us section
  section.about-container {

    display: flex;
    justify-content: space-between;

    .about-text {

      text-align: center;
      width: 50%;
      background-color: $secondary-color;
      border-radius: 8px 0 0 8px;
      padding: 40px;

      h2 {
      font-family: $title-font;
      font-size: 24px;
      }

      p {
        font-size: 20px;
      }

    }

    img {
      width: 50%;
      border-radius: 0 8px 8px 0;
    }
  }
}

// ITEMS / PRODUCTS PAGE //
@import 'items';

// USERS / USER PAGE //
@import 'user';

// PRODUCT PAGE //
@import 'product';

// PRODUCT POSTING PAGE //
@import 'posting';
