// See: https://sass-lang.com/ //


// ---------- VARIABLES ---------- //

// fonts //
$regular-font: 'Open Sans', sans-serif;
$title-font: 'Oswald', sans-serif;

// colors //
$regular-text-color: #6b717f;
$secondary-color: #496742;
$accent-color: #BC8896;
$extra-color: #73607B;
$link-color: #95a986;
$bg-color: #EEE;

// spacing //
$wrapper-margin: 0 auto;
$minimum-margin: 50px;
$minimum-padding: 20px;
$min-margin-top: 20px;

// transition //
$fade-in: 0.3s ease-in-out;

// -------------------------------- //

body {
  font-family: $regular-font;
  background-color: $bg-color;
  color: $regular-text-color;
  padding-top: 72px;


  // PAGES ANIMATION //

  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

  h1 {
    font-family: $title-font;
  }

  a {
    color: $link-color;
    text-decoration: none;
  }

}

// HEADER //
@import 'header';

// INDEX / HOME PAGE -------------------------------------------------------//
div.hero-container {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: $secondary-color;



  .hero-content {

    display: flex;
    justify-content: center;
    flex-direction: column;


    .fas {
      text-align: center;
      color: #FFF;
      font-size: 50px;
    }

    h1 {
      margin: 8px 0 0 0;
      letter-spacing: 10px;
      font-family: $title-font;
      font-size: 60px;
      color: #FFF;
    }

    p {
      text-align: center;
      font-family: $regular-font;
      color: #FFF;
    }

  }

}

div.wrapper {

  max-width: 100%;
  margin: $wrapper-margin;
  padding: 0 40px;


    h2 {
      font-family: $title-font;
      font-size: 32px;
      text-align: center;
      margin: 40px 0;
      text-decoration: underline;
      text-decoration-color: $accent-color;
      text-underline-position: under;
    }

  // featured Items section
  section.feature-container {
    display: flex;
    justify-content: space-between;

    .feature-item-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .featured-items {
      position: relative;
      width: 320px;
      display: flex;
      flex-direction: column;

        img {
          object-fit: fill;
          width: 320px;
        }

      }

      .feature-btn-form {
        width: 100%;

        button {
          background-color: $link-color;
          margin: 16px 0;
          width: 100%;
          height: 52px;
          border-radius: 4px;
          border: none;
          color: #FFF;
          transition: $fade-in;
        }
        button:hover {
          background-color: $secondary-color;
          transition: $fade-in;
        }
      }
    }

  }

  // About Us section
  section.about-container {

    display: flex;
    justify-content: space-between;

    .about-text {

      text-align: center;
      width: 50%;
      background-color: $secondary-color;
      border-radius: 8px 0 0 8px;
      padding: 40px;
      color: #FFF;

      h2 {
      font-family: $title-font;
      font-size: 24px;
      }

      p {
        font-size: 20px;
      }

    }

    img {
      width: 50%;
      border-radius: 0 8px 8px 0;
    }
  }
}

// ITEMS / PRODUCTS PAGE //
@import 'items';

// USERS / USER PAGE //
@import 'user';

// PRODUCT PAGE //
@import 'product';

// PRODUCT POSTING PAGE //
@import 'posting';

// MESSAGES PAGE //
@import 'messages';

// FOOTER //
@import 'footer';
