// ---------- VARIABLES ---------- //

// fonts //
$regular-font: 'Open Sans', sans-serif;
$title-font: 'Oswald', sans-serif;

// colors //
$regular-text-color: #6b717f;
$secondary-color: #496742;
$link-color: #95a986;
$bg-color: #EEE;

// spacing //
$wrapper-margin: 0 auto;
$minimum-margin: 50px;
$minimum-padding: 20px;
$min-margin-top: 20px;

// transition //
$fade-in: 0.3s ease-in-out;

// -------------------------------- //

.form-wrapper {
  max-width: 100%;
  margin: 0 90px;
  padding: 0 40px;
}

.posting-container {
  display: flex;
  margin-top: 100px;
}

.posting-form-img {

  .form-img-container {
    background-color: #FFF;
    width: 720px;
    height: 720px;
    margin-right: 100px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }

}

.posting-form-content {
  margin-left: 100px;

  .posting-input-field {
    display: flex;
    flex-direction: column;

    .textarea {
      height: 40px;
      width: 540px;
      margin-bottom: 24px;
      resize: none;
      border: none;
      border-radius: 6px;
    }

    .description {
      height: 100px;
    }

    button {
      margin-top: 20px;
      height: 40px;
      border: none;
      border-radius: 6px;
      background-color: $bg-color;
    }
  }

}
