// ---------- VARIABLES ---------- //

// fonts //
$regular-font: 'Open Sans', sans-serif;
$title-font: 'Oswald', sans-serif;

// colors //
$regular-text-color: #6b717f;
$secondary-color: #496742;
$accent-color: #BC8896;
$extra-color: #73607B;
$link-color: #95a986;
$bg-color: #EEE;

// spacing //
$wrapper-margin: 0 auto;
$minimum-margin: 50px;
$minimum-padding: 20px;
$min-margin-top: 20px;

// transition //
$fade-in: 0.3s ease-in-out;

// border //
$border-radius: 4px;

// -------------------------------- //

button {
  border: none;
  border-radius: $border-radius;
  padding-top: 4px;
  color: $extra-color;
  transition: $fade-in;
}

button:hover {
  background-color: $link-color;
  color: #FFF;
  transition: $fade-in;
}

// USER HERO SECTION / image, username, bio
.user-hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: $secondary-color;

  .user-hero-username {
    text-align: center;

    span {
      margin-bottom: 0;
      font-family: $title-font;
      font-size: 60px;
      color: #FFF;
    }

    p {
      text-align: center;
      color: #FFF;

    }
    .message-btn {
      margin-top: $min-margin-top;
      button {
        padding: 4px;
        margin-top: 10px;
        width: 200px;
      }
    }
  }
}

// FAVOURITES & USER LISTINGS //

.user-info-wrapper {
  max-width: 100%;
  margin: $wrapper-margin;
  padding: 0 40px;


  h2 {
    font-family: $title-font;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $accent-color;
    text-underline-position: under;
  }

  button {
    padding: 4px;
    margin-top: 10px;
    width: 200px;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.info-container {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 40px;
  background-color: #98b89182;
  border-radius: $border-radius;

  .fav {
    padding: 20px;
    margin-right: 40px;
    background-color: #FFF;
    border-radius: $border-radius;

    .listing-product-name {
      text-align: center;
      margin: 0 0 10px 0;
      font-family: $title-font;
      font-size: 18px;
      color: $secondary-color;
    }

  }

}

.user-listing {
  height: 480px;
}
